<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>红包</title>
    <!--在头部就把所有有可能涉及到的css引入。这里指的是根目录的css下面的abc.css-->
    <link rel="stylesheet" href="/css/abc.css">
</head>
<body>
<h2>宜春学院官网</h2>